/* ========================================================================= */
/* ========================================================================= */
/* HEADER SECTION */
/* ========================================================================= */
/* ========================================================================= */

.navbar {
  background-image: url(../assets/about//bg-image-26.webp);
}

/* ========================================================================= */
/* ========================================================================= */
/* PROJECTS SECTION */
/* ========================================================================= */
/* ========================================================================= */

.info-section {
  /* width: 100%; */
  display: flex;
  align-items: center;
  padding: 2em;
  margin: 80px;
  gap: 2em;
}

#mobile {
  display: none;
}

.info-image img {
  width: auto;
  height: auto;
  border-radius: 20px;
}

.info-content {
  flex: 1;
}

.info-content p {
  margin: 1em 0;
  font-size: 25px;
  color: rgb(79, 79, 79);
  word-spacing: 1px;
}
.info-content h1 {
  margin: 0.5em 0;
  font-size: 50px;
}

@media (max-width: 1200px) {
  .info-section {
    margin: 40px;
    flex-direction: row;
    align-items: flex-start;
  }
  .info-image img {
    width: 500px;
    height: 700px;
    border-radius: 20px;
  }
  .info-content p {
    margin: 0.6em 0;
    font-size: 23px;
  }
  .info-content h1 {
    font-size: 45px;
  }
}

@media (max-width: 998px) {
  .info-image {
    border-radius: 20px;
  }
  .info-image {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .info-image img {
    max-width: 100%;
    height: 400px;
  }
  .info-section {
    flex-direction: column;
    align-items: flex-start;
  }
  .info-content p {
    margin: 0.6em 0;
    font-size: 23px;
  }
  .info-content h1 {
    font-size: 45px;
  }
  #mobile {
    display: block;
  }
  #web {
    display: none;
  }
}

@media (max-width: 768px) {
  #mobile {
    display: block;
  }
  #web {
    display: none;
  }
  .info-section {
    flex-direction: column;
    align-items: flex-start;
  }
  .info-content p {
    margin: 0.6em 0;
    font-size: 23px;
  }
  .info-content h1 {
    font-size: 45px;
  }

  .info-image {
    width: 100%;
    text-align: center;
  }
  .info-image img {
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  .info-section {
    margin: 15px;
  }
  .info-content p {
    margin: 0.6em 0;
    font-size: 20px;
  }
  .info-content h1 {
    font-size: 40px;
  }
}

/* ----------------------------------- */
/* ----------------------------------- */

@media (max-width: 600px) {
  #glory-container {
    /* border: 2px solid; */
    width: 95%;
    margin: auto;
    padding: 20px;
  }

  #glory-card-container {
    /* border: 2px solid; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .glory {
    /* border: 2px solid; */
    width: 82%;
    text-align: center;
    padding: 10px;
  }

  .glory > h2 {
    font-size: 60px;
    font-weight: 700;
    color: #0b7286;
  }

  .glory > p {
    color: grey;
    font-size: 2.5vmax;
  }

  #approach-container {
    /* border: 2px solid; */
    height: 650px;
    border-radius: 10px;
    width: 100%;
    background-image: url(../assets/about/finding-us-01.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #sub-appro {
    background-color: #272527;
    width: 100%;
    height: 50%;
    border-radius: 15px;
    padding: 40px 50px;
  }

  #sub-appro > h1 {
    font-size: 4vmax;
    color: red;
  }

  #sub-appro > p {
    font-size: 1.5vmax;
    color: #fff;
    text-align: justify;
    letter-spacing: 2px;
    font-weight: 300;
  }

  #team-container {
    width: 95%;
    margin: auto;
    text-align: center;
    padding: 10px 20px;
  }
  #team-container > h3 {
    font-size: 2.5vmax;
    font-weight: 700;
  }

  #team-card-container {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .team-card {
    width: 71%;
    height: 30%;
    border-radius: 20px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  #team-card1 {
    background-image: url(../assets/about/team-01.png);
  }

  #team-card2 {
    background-image: url(../assets/about/team-02.png);
  }

  #team-card3 {
    background-image: url(../assets/about/team-05.png);
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  #glory-container {
    width: 95%;
    margin: auto;
    padding: 20px;
  }

  #glory-card-container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .glory {
    width: 32%;
    text-align: center;
    padding: 10px;
  }

  .glory > h2 {
    font-size: 60px;
    font-weight: 700;
    color: #0b7286;
  }

  .glory > p {
    color: grey;
    font-size: 20px;
  }

  #approach-container {
    /* border: 2px solid; */
    height: 600px;
    border-radius: 10px;
    width: 100%;
    background-image: url(../assets/about/finding-us-01.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #sub-appro {
    background-color: #272527;
    width: 70%;
    height: 65%;
    border-radius: 15px;
    padding: 40px 100px;
  }

  #sub-appro > h1 {
    font-size: 40px;
    color: red;
  }

  #sub-appro > p {
    font-size: 20px;
    color: #fff;
    text-align: justify;
    letter-spacing: 2px;
    font-weight: 300;
  }

  #team-container {
    width: 95%;
    margin: auto;
    text-align: center;
    padding: 20px;
  }

  #team-container > h3 {
    font-size: 21px;
    font-weight: 700;
  }

  #team-card-container {
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: space-between;
  }

  .team-card {
    width: 31%;
    border-radius: 20px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  #team-card1 {
    background-image: url(../assets/about/team-01.png);
  }

  #team-card2 {
    background-image: url(../assets/about/team-02.png);
  }

  #team-card3 {
    background-image: url(../assets/about/team-05.png);
  }
}

@media (min-width: 1025px) {
  #glory-container {
    width: 95%;
    margin: auto;
    padding: 20px;
  }

  #glory-card-container {
    /* border: 2px solid; */
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .glory {
    /* border: 2px solid; */
    width: 32%;
    text-align: center;
    padding: 10px;
  }

  .glory > h2 {
    font-size: 4vmax;
    font-weight: 700;
    color: #0b7286;
  }

  .glory > p {
    color: grey;
    font-size: 1.5vmax;
  }

  #approach-container {
    /* border: 2px solid; */
    height: 600px;
    border-radius: 10px;
    width: 100%;
    background-image: url(../assets/about/finding-us-01.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #sub-appro {
    background-color: #272527;
    width: 70%;
    height: 65%;
    border-radius: 15px;
    padding: 40px 100px;
  }

  #sub-appro > h1 {
    font-size: 4vmax;
    color: red;
  }

  #sub-appro > p {
    font-size: 1.5vmax;
    color: #fff;
    text-align: justify;
    letter-spacing: 2px;
    font-weight: 300;
  }

  #team-container {
    /* border: 2px solid; */
    width: 95%;
    margin: auto;
    text-align: center;
    padding: 20px;
  }

  #team-container > h3 {
    font-size: 1.5vmax;
    font-weight: 600;
  }

  #team-card-container {
    /* border: 2px solid; */
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: space-between;
  }

  .team-card {
    /* border: 2px solid; */
    width: 31%;
    border-radius: 20px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  #team-card1 {
    background-image: url(../assets/about/team-01.png);
  }

  #team-card2 {
    background-image: url(../assets/about/team-02.png);
  }

  #team-card3 {
    background-image: url(../assets/about/team-05.png);
  }
}