/* ========================================================================= */
/* ========================================================================= */
/* HEADER SECTION */
/* ========================================================================= */
/* ========================================================================= */

.navbar {
  background-image: url(../assets/careers/bg-image-90.webp);
}

/* ============================================================= */
/* ============================================================= */

@media (max-width: 600px) {
  #job-container {
    /* border: 2px solid; */
    width: 100%;
    height: fit-content;
  }
  #job-container > p {
    text-align: center;
    font-size: 1.6vmax;
    color: grey;
    font-weight: 400;
  }
  #vacancy-card-container {
    /* border: 2px solid; */
    height: 70%;
    width: 99%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
    row-gap: 20px;
  }
  .vacancy-card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    border: 2px solid;
    width: 80%;
    margin: auto;
    height: 500px;
    padding: 55px 25px;
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .vacancy-card:hover {
    transform: scale(1.031);
    cursor: pointer;
  }
  .vacancy-card > h2 {
    font-size: 2.5vmax;
    padding: 20px 0px;
    font-weight: 600;
    color: #fff;
  }
  .vacancy-card > button {
    background-color: transparent;
    padding: 10px;
    font-size: 1.3vmax;
    width: 60%;
    border-radius: 6px;
    color: #fff;
    border-color: grey;
    border: 1px solid #fff;
    margin-top: 10px;

    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
  }
  .vacancy-card > button:hover {
    transform: translateY(-4px);
    background-color: #0b7286;
    border: 2px solid #0b7286;
    cursor: pointer;
  }

  #vacancy-card-wed {
    background-image: url(../assets/careers/portfolio-15.webp);
  }

  #vacancy-card-mobile {
    background-image: url(../assets/careers/portfolio-16.webp);
  }

  #vacancy-card-hr {
    background-image: url(../assets/careers/portfolio-18.webp);
  }

  #vacancy-card-sales {
    background-image: url(../assets/careers/portfolio-20.webp);
  }
  #why {
    margin-top: 30px;
  }

  #why > p {
    text-align: center;
    font-size: 1.8vmax;
    color: black;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  .cards-container > aside {
    width: 89%;
    margin: auto;
    height: 360px;
    border-radius: 15px;
  }

  .card {
    background-position: 100%;
    background-repeat: no-repeat;
  }

  #card-bg1 {
    background-image: url(../assets/careers/career-01.webp);
  }

  #card-bg2 {
    background-image: url(../assets/careers/career-02.webp);
  }

  #card-bg3 {
    background-image: url(../assets/careers/career-03.webp);
  }

  #card-bg4 {
    background-image: url(../assets/careers/career-04.webp);
  }

  .card-content {
    display: flex;
    flex-direction: column;
  }

  .card-content > h3 {
    font-size: 3vmax;
    font-weight: 400;
  }

  .card-content > p {
    font-size: 1.6vmax;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  #job-container {
    border: 2px solid;
    width: 100%;
    height: 700px;
  }

  #job-container > p {
    text-align: center;
    font-size: 1.6vmax;
    color: grey;
    font-weight: 400;
  }

  #vacancy-card-container {
    /* border: 2px solid; */
    height: 70%;
    width: 99%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  .vacancy-card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    border: 2px solid;
    width: 24%;
    height: 100%;
    padding: 55px 25px;
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .vacancy-card:hover {
    transform: scale(1.031);
    cursor: pointer;
  }

  .vacancy-card > h2 {
    font-size: 2.5vmax;
    padding: 20px 0px;
    font-weight: 600;
    color: #fff;
  }

  .vacancy-card > button {
    background-color: transparent;
    padding: 10px;
    font-size: 1.3vmax;
    width: 60%;
    border-radius: 6px;
    color: #fff;
    border-color: grey;
    border: 1px solid #fff;
    margin-top: 10px;

    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
  }

  .vacancy-card > button:hover {
    transform: translateY(-4px);
    background-color: #0b7286;
    border: 2px solid #0b7286;
    cursor: pointer;
  }

  #vacancy-card-wed {
    background-image: url(../assets/careers/portfolio-15.webp);
  }

  #vacancy-card-mobile {
    background-image: url(../assets/careers/portfolio-16.webp);
  }

  #vacancy-card-hr {
    background-image: url(../assets/careers/portfolio-18.webp);
  }

  #vacancy-card-sales {
    background-image: url(../assets/careers/portfolio-20.webp);
  }

  #why {
    /* border: 2px solid; */
    margin-top: 30px;
  }

  #why > p {
    text-align: center;
    font-size: 1.8vmax;
    margin-top: 20px;
  }

  .cards-container {
    /* border: 2px solid; */
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  .cards-container > aside {
    width: 49%;
    height: 550px;
    /* border: 2px solid; */
    border-radius: 15px;
  }

  .card {
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  #card-bg1 {
    background-image: url(../assets/careers/career-01.webp);
  }

  #card-bg2 {
    background-image: url(../assets/careers/career-02.webp);
  }

  #card-bg3 {
    background-image: url(../assets/careers/career-03.webp);
  }

  #card-bg4 {
    background-image: url(../assets/careers/career-04.webp);
  }

  .card-content {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-content > h3 {
    padding: 20px 0px;
    font-size: 3vmax;
    font-weight: 400;
  }

  .card-content > p {
    font-size: 1.6vmax;
  }
}

@media (min-width: 1025px) {
  #job-container {
    /* border: 2px solid; */
    width: 100%;
    height: 700px;
  }

  #job-container > p {
    text-align: center;
    font-size: 1.6vmax;
    color: grey;
    font-weight: 400;
  }

  #vacancy-card-container {
    /* border: 2px solid; */
    height: 70%;
    width: 99%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  .vacancy-card {
    display: flex;
    flex-direction: column;
    justify-content: end;
    border: 2px solid;
    width: 24%;
    height: 100%;
    padding: 55px 25px;
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .vacancy-card:hover {
    transform: scale(1.031);
    cursor: pointer;
  }

  .vacancy-card > h2 {
    font-size: 2.5vmax;
    padding: 20px 0px;
    font-weight: 600;
    color: #fff;
  }

  .vacancy-card > button {
    background-color: transparent;
    padding: 10px;
    font-size: 1.3vmax;
    width: 60%;
    border-radius: 6px;
    color: #fff;
    border-color: grey;
    border: 1px solid #fff;
    margin-top: 10px;

    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
  }

  .vacancy-card > button:hover {
    transform: translateY(-4px);
    background-color: #0b7286;
    border: 2px solid #0b7286;
    cursor: pointer;
  }

  #vacancy-card-wed {
    background-image: url(../assets/careers/portfolio-15.webp);
  }

  #vacancy-card-mobile {
    background-image: url(../assets/careers/portfolio-16.webp);
  }

  #vacancy-card-hr {
    background-image: url(../assets/careers/portfolio-18.webp);
  }

  #vacancy-card-sales {
    background-image: url(../assets/careers/portfolio-20.webp);
  }

  #why {
    margin-top: 30px;
  }
  #why > p {
    text-align: center;
    font-size: 1.8vmax;
    color: black !important;
    margin-top: 20px;
  }

  .cards-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  .cards-container > aside {
    width: 49%;
    height: 550px;
    border-radius: 15px;
  }

  .card {
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  #card-bg1 {
    background-image: url(../assets/careers/career-01.webp);
  }

  #card-bg2 {
    background-image: url(../assets/careers/career-02.webp);
  }

  #card-bg3 {
    background-image: url(../assets/careers/career-03.webp);
  }

  #card-bg4 {
    background-image: url(../assets/careers/career-04.webp);
  }

  .card-content {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card-content > h3 {
    padding: 20px 0px;
    font-size: 3vmax;
    font-weight: 400;
  }

  .card-content > p {
    font-size: 1.6vmax;
    color: grey;
  }
}