
.navbar {
  background-color: #0d6b86;
}
.header-text-health {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  padding: 20px;
  gap: 60px;
}

.left-image img {
  border-radius: 50%;
  border: 1px solid black;
  padding: 20px;
  background-color: white;
  width: 400px;
  height: auto;
}

.right-text {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 40px;
}

.right-text h2 {
  color: red;
  font-size: 38px;
}
.right-text button {
  background-color: #0d6b86;
  border: 1px solid white;
  margin-top: 20px;
  width: 60%;
  border-radius: 10px;
  padding: 20px 10px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

/* NAVBAR RESPONSIVE */

/* Responsive styles */
@media (max-width: 980px) {
  .header-text-health {
    top: 10%;
    width: 70%;
    gap: 20px;
  }
  .left-image img {
    display: none;
  }

  .header-text-health h1 {
    font-size: 50px;
    margin: 0;
  }
  .right-text button {
    width: 70%;
    padding: 15px 10px;
    color: white;
    font-size: 15px;
    font-weight: 200;
    cursor: pointer;
  }
}

@media (max-width: 400px) {
  .header-text-health {
    top: 10%;
    width: 100%;
    gap: 10px;
  }
  .right-text button {
    margin-top: 5px;
  }
  .right-text h1,
  h2 {
    font-size: 25px;
  }
}

/* ========================================================================= */
/* ========================================================================= */
/* PROJECTS SECTION */
/* ========================================================================= */
/* ========================================================================= */

.info-section {
  /* width: 100%; */
  display: flex;
  align-items: center;
  padding: 2em;
  margin: 80px;
  gap: 2em;
}

#mobile {
  display: none;
}

.info-image img {
  width: auto;
  height: auto;
  border-radius: 20px;
}

.info-content {
  flex: 1;
}

.info-content p {
  margin: 0.8em 0;
  font-size: 20px;
  word-spacing: 1px;
}
.info-content h2 {
  margin: 0.5em 0;
}

.info-content ul {
  padding-left: 1.2em;
}

.info-content li {
  margin: 1em 0;
  font-size: 20px;
}

@media (max-width: 1200px) {
  .info-section {
    margin: 40px;
    flex-direction: row;
    align-items: flex-start;
  }
  .info-image img {
    width: 500px;
    height: 700px;
    border-radius: 20px;
  }
}

@media (max-width: 998px) {
  .info-image img {
    width: auto;
    height: auto;
    border-radius: 20px;
  }
  .info-section {
    margin: 40px;
    flex-direction: column;
    align-items: flex-start;
  }
  #mobile {
    display: block;
  }
  #web {
    display: none;
  }
}

@media (max-width: 768px) {
  #mobile {
    display: block;
  }
  #web {
    display: none;
  }
  .info-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .info-image {
    width: 100%;
    text-align: center;
  }
  .info-content li {
    margin: 0.5em 0;
  }

  .info-image img {
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  .info-section {
    margin: 15px;
  }
}

/* ========================================================================= */
/* ========================================================================= */
/* USER SECTION */
/* ========================================================================= */
/* ========================================================================= */


.header-text-user {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  padding: 20px;
  gap: 60px;
}

/* Responsive styles */
@media (max-width: 980px) {
  .header-text-user {
    top: 10%;
    width: 70%;
  }
}

@media (max-width: 400px) {
  .header-text-user {
    top: 10%;
    width: 90%;
  }
}

.right-text h3 {
  font-size: 20px;
  text-transform: uppercase;
  color: grey;
  letter-spacing: 0.1em;
  word-spacing: 0.1em;
}

.right-text p {
  text-align: end;
  margin-top: 10px;
  font-size: 20px;
  color: grey;
  letter-spacing: 0.1em;
  word-spacing: 0.1em;
}

.user-image img {
  border-radius: 50%;
  border: 1px solid black;
  padding: 20px;
  background-color: white;
  width: 400px;
  height: auto;
}

@media (max-width: 988px) {
  #user-data {
    display: flex;
    flex-direction: column;
  }
  .user-image img {
    width: 300px;
    height: auto;
    margin: 20px auto;
  }
}

/* ========================================================================= */
/* ========================================================================= */
/* DATA SECTION */
/* SAME AS PROJECT SECTION */
/* ========================================================================= */
/* ========================================================================= */

.video-section iframe {
  height: 90vh;
  width: 90%;
  margin: 50px;
  border-radius: 5px;
  background-color: white;
}

@media (max-width: 988px) {
  .video-section iframe {
    border-radius: 10px;
    height: 50vh;
    margin: 30px;
  }
}

@media (max-width: 600px) {
  .video-section iframe {
    border-radius: 10px;
    height: 30vh;
    margin: 20px;
  }
}

@media (max-width: 400px) {
  .video-section iframe {
    border-radius: 10px;
    height: 25vh;
    margin: 10px;
  }
}