
/* ========================================================================= */
/* ========================================================================= */
/* HEADER SECTION */
/* ========================================================================= */
/* ========================================================================= */

.navbar{
  background-image: url(../assets/home/bg-image-18.webp);
}

/* ========================================================================= */
/* ========================================================================= */
/* CARD SECTION */
/* ========================================================================= */
/* ========================================================================= */

.content-section {
    padding: 50px 20px;
    text-align: center;
  }
  .content-section p {
    font-size: 1.2rem;
    margin-bottom: 40px;
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    gap: 30px; 
    flex-wrap: wrap; 
  }
  
  .card {
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 350px; 
    transition: transform 0.3s, background-color 0.3s; 
    position: relative;
    overflow: hidden; 
    text-align: start;
  }
  
  .card .icon {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .card h3 {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  
  .card p {
    font-size: 1.1rem;
    color: #666;
  }
  
  .card:hover {
    background-color: #0B7286; 
    color: white; 
    transform: translateY(-5px); 
  }
  .card:hover p {
    color: white; 
    /* transform: translateY(-5px);  */
  }
  .card:hover .icon i {
    color: white !important; 
  }
  .content-section button{
    background-color: #0B7286;
    color: white;
    font-size: 25px;
    border: none;
    padding: 20px 10px;
    border-radius: 5px;
    margin-top: 30px;
    width: 40%;
    cursor: pointer;
  }

  @media (max-width: 600px) {
    .content-section button{
        width: 80%;
        font-size: 20px;
    }
      .card h3 {
        font-size: 1rem;
        margin: 10px 0;
      }
      .content-section button{
        font-size: 20px;
        padding: 10px 10px;
        width: 70%;
      }
  }