
/* ========================================================================= */
/* ========================================================================= */
/* HEADER SECTION */
/* ========================================================================= */
/* ========================================================================= */

.navbar {
  background-image: url(../assets/home/header.jpeg) !important;
}

.header-text-home {
  position: absolute;
  top: 25%;
  left: 5%;
  width: 50%;
  height: 90%; 
  display: flex;
  color: white; 
}

.header-text-home h1 {
  font-size: 60px; 
  margin: 0; 
}

.header-text-home h1 span {
  color: #f9004d;
}

/* Responsive styles */
@media (max-width: 980px) {
.header-text-home {
  top: 12%;
  width: 80%;
}

.header-text-home h1 {
  font-size: 40px;
  margin: 0;
}
}

@media (max-width: 400px) {
.header-text-home {
  top: 10%;
  width: 90%;
}
.navbar {
  width: 100%;
  height: 10vh;
}
.header-text h1 {
  font-size: 18px; 
  margin: 0; 
}
}

/* ========================================================================= */
/* ========================================================================= */
/* CARD SECTION */
/* ========================================================================= */
/* ========================================================================= */

.content-section {
  padding: 50px 20px;
  text-align: center;
}

.content-section p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px; 
  flex-wrap: wrap; 
}

.card {
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 350px; 
  transition: transform 0.3s, background-color 0.3s; 
  position: relative;
  overflow: hidden; 
  text-align: start;
}

.card .icon {
  font-size: 3rem;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.card p {
  font-size: 1.1rem;
  color: #666;
}

.card:hover {
  background-color: #0B7286; 
  color: white; 
  transform: translateY(-5px); 
}
.card:hover p {
  color: white; 
  /* transform: translateY(-5px);  */
}
.card:hover .icon i {
  color: white !important; 
}


/* Responsive adjustments */

/* ========================================================================= */
/* ========================================================================= */
/* NUMBERS SAYS A LOT SECTION */
/* ========================================================================= */
/* ========================================================================= */

.data-section {
  background-color: #f9f9f9; 
  padding: 50px 20px;
  text-align: center;
}

.data-container {
  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap;
  gap: 20px;
}

.data-item {
  flex: 1; 
  min-width: 200px; 
  max-width: 250px; 
}

.data-number {
  font-size: 50px;
  color: #0B7286;
  display: block;
}

.data-item h6 {
  margin: 10px 0;
  font-size: 1.2rem; 
}

.data-item p {
  font-size: 1rem;
  color: #666; 
}

@media (max-width: 450px) {
  .data-item p {
    text-align: start;
  }
  
}



/* ========================================================================= */
/* ========================================================================= */
/* VIEW OUR TECK STACK SECTION */
/* ========================================================================= */
/* ========================================================================= */

.cta-section {
  width: 80%; 
  margin: 50px auto; 
  text-align: center; 
}

.italic-text {
  font-size: 30px;
  color: gray;
  font-style: italic; 
  margin: 50px; 
}

/* Responsive  */

@media (max-width: 500px) {
  .cta-section {
    width: 95%;
    text-align: start;
    margin: 20px auto;
  }
  .italic-text {
    font-size: 22px;
    margin: 30px;  
  }
  .cta-button {
    margin-left: 50px;
  }
}

/* ========================================================================= */
/* ========================================================================= */
/* WORKING METHODOLOGY SECTION */
/* ========================================================================= */
/* ========================================================================= */

.responsive-section {
  padding: 20px 100px;
  display: flex;
  background-color: #0B7286;  
  color: white;
  gap: 50px; 
}

.image-container {
  flex: 0 0 40%;
  width: 300px;
  height: auto;
}

.image-container img {
  margin-left: 50px;
  width: 90%;  
  height: auto;  
  border-radius: 30px;
}

.content-container {
  flex: 1;
  padding: 40px 20px;
}

.top-content {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top-content h2 {
  font-size: 30px;
}

.top-content p {
  font-size: 18px; 
}

.bottom-content {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: space-between; 
}

.left-part,
.right-part {
  flex: 1;  
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 10px;  
}

.left-part h3,
.right-part h3 {
  font-size: 25px;  
}

.left-part p,
.right-part p {
  font-size: 20px; 
}

/* Responsive styles */
@media (max-width: 998px) {
  .responsive-section {
    padding: 20px 40px;
    flex-direction: column;  
    align-items: center; 
  }
  .image-container img {
    margin-left: 30px;
  }

  .image-container {
    width: 100%; 
  }

  .content-container {
    width: 100%; 
  }
}
@media (max-width: 600px) {
  .responsive-section {
    padding: 40px 20px;
    flex-direction: column; 
    align-items: center;
  }

  .image-container img {
    margin-left: 10px;
  }

  .image-container {
    width: 100%; 
  }

  .content-container {
    width: 100%; 
  }
  .bottom-content {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-between;
  }
}

/* ========================================================================= */
/* ========================================================================= */
/* INTEGRATED AGENCY SECTION */
/* ========================================================================= */
/* ========================================================================= */

.quote-section {
  /* width: 80%;  */
  margin: 50px 30px; 
  text-align: center; 
  padding: 20px; 
}

.quote-heading {
  position: relative; 
  font-size: 2.5em; 
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); 
  display: inline-block;
  padding: 20px; 
  margin: 20px 0;
}

.quote-heading::before,
.quote-heading::after {
  content: '"'; 
  font-size: 1em; 
  color: rgba(200, 200, 200, 0.5); 
}

.quote-text {
  font-size: 1.2em;
  margin: 10px 0;
}

.image-gallery-agency {
  display: flex; 
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap; 
}

.image-gallery-agency img {
  width: 90px; 
  height: 100px; 
  object-fit: cover; 
  transition: transform 0.3s ease;
}

.image-gallery-agency img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 500px) {
  .quote-section {
    margin: 30px 10px; 
    padding: 10px; 
  }
  .quote-heading {
    font-size: 30px;
    padding: 5px;
  }

  .image-gallery-agency img {
    width: 50px; 
    height: 50px; 
  }
}

/* ========================================================================= */
/* ========================================================================= */
/* COMPANY LIST SECTION */
/* ========================================================================= */
/* ========================================================================= */

.image-gallery-company {
  margin: 100px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 100px; 
}

.image-gallery-company img {
  width: 100px;  
  height: auto; 
  object-fit: cover;  
  display: block;
  margin: 0 auto; 
  transition: transform 0.3s ease;
}

.image-gallery-company img:hover {
  transform: scale(1.1);  
  cursor: pointer;
}

.image-gallery-company > div {
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

/* Responsive styles */
@media (max-width: 990px) {
  .image-gallery-company {
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media (max-width: 600px) {
  .image-gallery-company {
    margin: 30px;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
  }

  .image-gallery-company img {
    height: 60px; 
    width: auto; 
  }
}

@media (max-width: 400px) {
  .image-gallery-company {
    margin: 15px;
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px;
  }

  .image-gallery-company img {
    height: 50px; 
    width: auto; 
  }
}

/* ========================================================================= */
/* ========================================================================= */
/* WORK SAMPLES SECTION */
/* ========================================================================= */
/* ========================================================================= */
.card-section {
    padding: 2em;
    text-align: center;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-work {
    position: relative;
    width: 300px;
    height: 500px; 
    margin: 25px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    /* gap: 20px; */
}

.card-work:hover {
    transform: scale(1.01);
}

.card-background {
    width: 100%;
    height: 100%;  
    background-size: cover;
    background-position: center;
    position: absolute;  
}

.card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%; 
    padding: 20em 1em 2em 1em;
    background: rgba(0, 0, 0, 0.5); 
    text-align: left;
    color: white;
    transition: background 0.3s, color 0.3s;
}

.card-content h3 {
    padding: 10px 0px;
}

.card-content button {
    margin-top: 0.5em;
    padding: 0.5em 1em;
    border: 1px solid white; 
    color: white; 
    background-color: transparent; 
    cursor: pointer;
    border-radius: 3px;
}

.card-work:hover .card-content {
    background: linear-gradient(#0B7286, black);
    color: white;
}

.card-work:hover .card-content button {
    background-color: #0B7286; 
    color: white; 
    border: none;
}

@media (max-width: 768px) {
    .cards-container {
        flex-direction: column;
        align-items: center;
    }
    .card-work{
    margin: 10px;
    }
}

/* ========================================================================= */
/* ========================================================================= */
/* PROJECTS SECTION */
/* ========================================================================= */
/* ========================================================================= */

.info-section {
    /* width: 100%; */
    display: flex;
    align-items: center; 
    padding: 2em;
    margin: 80px;
    gap: 2em;
}

#mobile{
    display: none;
}

.info-image img {
    width: auto;
    height: auto;
    border-radius: 20px;
}

.info-content {
    flex: 1; 
}

.info-content p {
    margin: 0.8em 0;
    font-size: 20px;
    word-spacing: 1px;
}
.info-content h2 {
    margin: 0.5em 0;
}

.info-content ul {
    padding-left: 1.2em;
}

.info-content li {
    margin: 1em 0; 
    font-size: 20px;
}

@media (max-width: 1200px) {
    .info-section {
        margin: 40px;
        flex-direction: row; 
        align-items: flex-start; 
    }
    .info-image img {
        width: 500px;
        height: 700px;
        border-radius: 20px;
    }
}


@media (max-width: 998px) {
    .info-image img {
        width: auto;
        height: auto;
        border-radius: 20px;
    }
    .info-section {
        margin: 40px;
        flex-direction: column; 
        align-items: flex-start; 
    }
    #mobile{
        display: block;
    }
    #web{
        display: none;
    }
}

@media (max-width: 768px) {
    #mobile{
        display: block;
    }
    #web{
        display: none;
    }
    .info-section {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .info-image {
        width: 100%; 
        text-align: center; 
    }
    .info-content li {
        margin: 0.5em 0; 
    }

    .info-image img {
        max-width: 100%; 
    }
}

@media (max-width: 400px) {
  .info-section {
      margin: 15px;
  }
}

/* ========================================================================= */
/* ========================================================================= */
/* ANIMATIONS SECTION */
/* ========================================================================= */
/* ========================================================================= */


/* HEADER SECTION ANIMATION */

.header-text-home {
  overflow: hidden;
}

.animated-text {
  position: relative; 
  animation: slide-in 2s forwards; 
  opacity: 0; 
}

@keyframes slide-in {
  0% {
      transform: translateX(-100%); /* Start from left */
      opacity: 0; /* Start hidden */
  }
  100% {
      transform: translateX(0); /* End at original position */
      opacity: 1; /* Fully visible */
  }
}
