/* ========================================================================= */
/* HEADER SECTION */
/* ========================================================================= */

.navbar {
  background-image: url(../assets/techstack/bg-image-15.webp) !important;
}

@media (max-width: 982px) {
  .header-text {
    top: 11% !important;
  }
  .header-text h3{
    font-size: 24px !important;
  }
}

@media (max-width: 600px) {
  .header-text {
    top: 10% !important;
  }
}

@media (max-width: 400px) {
  .header-text {
    top: 10%;
  }
  .header-text h3{
    font-size: 18px !important;
  }
}

/* ============================== */
/* Techstack Styles */
/* ============================== */

@media (max-width: 600px) {
  #webdev-container,
  #mobileapp-container,
  #database-container {
    margin: auto;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 2px;
  }

  .card {
    /* width: 45%; */
    padding: 30px;
    background-color: #e2e2e2;
    border-radius: 10px;

    transition-property: transform;
    transition-duration: 0.7s;
    transition-timing-function: ease;
    transition-delay: 0.1s;
  }

  .card > span > svg {
    fill: #0b7286;
    font-size: 28px;
  }

  .card > h2 {
    font-weight: 500;
    font-size: 20px;
  }

  .card > p {
    font-weight: 300;
    font-size: 15px;
    word-spacing: 3px;
    color: rgb(90, 89, 89);
  }

  .card:hover {
    background: linear-gradient(90deg, #0b7286, #003a46);
    color: #fff;
    cursor: pointer;
    transform: translateY(-5px);
  }

  .card:hover.card > span > svg {
    fill: #fff;
  }

  .card:hover.card > p {
    color: #fff;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  #webdev-container,
  #mobileapp-container,
  #database-container {
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .card {
    width: 40%;
    padding: 20px 22px;
    background-color: #e2e2e2;
    border-radius: 10px;

    transition-property: transform;
    transition-duration: 0.7s;
    transition-timing-function: ease;
    transition-delay: 0.1s;
  }

  .card > span > svg {
    fill: #0b7286;
    font-size: 68px;
  }

  .card > h2 {
    font-weight: 500;
    font-size: 25px;
  }

  .card > p {
    font-weight: 300;
    font-size: 18px;
    word-spacing: 3px;
    color: rgb(90, 89, 89);
  }

  .card:hover {
    background: linear-gradient(90deg, #0b7286, #003a46);
    color: #fff;
    cursor: pointer;
    transform: translateY(-5px);
  }

  .card:hover.card > span > svg {
    fill: #fff;
  }

  .card:hover.card > p {
    color: #fff;
  }
}

@media (min-width: 1025px) {
  #webdev-container,
  #mobileapp-container,
  #database-container {
    height: fit-content;
    width: 99%;
    margin: auto;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
  }

  .card {
    width: 31%;
    padding: 20px 22px;
    background-color: #e2e2e2;
    border-radius: 10px;
    transition-property: transform;
    transition-duration: 0.7s;
    transition-timing-function: ease;
    transition-delay: 0.1s;
  }

  .card > span > svg {
    fill: #0b7286;
    font-size: 68px;
  }

  .card > h2 {
    font-weight: 500;
    font-size: 2vmax;
  }

  .card > p {
    font-weight: 300;
    font-size: 1.5vmax;
    word-spacing: 3px;
    color: rgb(90, 89, 89);
  }

  .card:hover {
    background: linear-gradient(90deg, #0b7286, #003a46);
    color: #fff;
    cursor: pointer;
    transform: translateY(-5px);
  }

  .card:hover.card > span > svg {
    fill: #fff;
  }

  .card:hover.card > p {
    color: #fff;
  }
}
